{% extends 'base.html' %}
{% block content %}

<div class="jumbotron jumbotron-fluid">

    <div class="container">
        <h1 class="display-4"> Github Hunter </h1>
    </div>
</div>


<table class="table">

    <thead class="thead-dark">
        <tr>
          <th scope="col">Repository Name </th>
          <th scope="col">Url</th>
          <th scope="col">Handle</th>
        </tr>
  </thead>

  <tbody>
    {% for x in data %}
      <tr>
        <td>{{x[0]}}</td>
        <td>
              <a href={{x[1]}}>{{x[1]}}</a>
        </td>

      </tr>
    {% endfor %}
</tbody>
</table>



{%  endblock  %}
