{% extends 'base.html' %}
{% block content %}



<div id="coverpageimage" class="jumbotron">

    <div class="HomeImageWrapper">
        <h1 class="Hello">Hello ! My Name is Soumil Shah </h1>
        <h2 class="Python"> Welcome to Github Repository Hunter </h2>
        <h4 class="MyInfo1">Hunt all the Repository by Github Username</h4>
    </div>


    <form method="POST" action="/">

        <div class="form-group" id="hunter">
            {{ form.csrf_token }}

            {{  form.name(size=20,
            placeholder="Enter Github UserName") }}

            {{form.button(class="btn btn-primary")}}

        </div>
    </form>



</div>


<style type="text/css">

#hunter{
        text-align: center;
    }
  #coverpageimage {
            margin:auto;
            background-image: url(https://media3.giphy.com/media/26tn33aiTi1jkl6H6/giphy.gif);
            background-size: cover;
            opacity:1;
            background-blend-mode: darken;
            height: 75vh;}

              .Hello {
         vertical-align: center;
         padding:15px;
         text-align: center;
         font-size: 50px;
         color:white;}

  .Python {
          padding:15px;
          text-align: center;
          font-size: 45px;
          color:white;}

  .MyInfo1{
          padding:15px;
          font-size: 30px;
          text-align: center;
          color:white;}

</style>

{%  endblock  %}
